* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif
}

html {
    font-size: 62.5%;
    color: rgb(255, 255, 255);
}

body {
    background-image: url("https://res.cloudinary.com/msolutionstech/image/upload/v1626916410/501744-simple-black-wallpaper-top-free-simple-black-background_uaomb2.jpg");
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#app {
    padding: 20px;
    display: flex;
    height: 100vh;
    width: 100%;
    max-width: 1080px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    padding: 0 20px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.portada {
    display: grid;
    width: 100%;
    max-width: 1080px;
    grid-template-columns: 35% 65%;
    padding: 20px;
}


.portada__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.portada__img img {
    width: 100%;
}


.portada__title h1 {
    font-size: 40px;
    text-align: center;
    line-height: 45px;
    margin-top: 20px;
    font-weight: 600;
}

.portada__title h2 {
    font-size: 25px;
    margin-top: 10px;
    font-weight: 300;
}

.nombre {
    color: white;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
    width: 100%;
    max-width: 405px;
    padding: 15px 50px;
    outline: none;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px #fff solid;
}

.titulo__abajo {
    font-size: 25px;
    font-weight: 280;
}

.titulo__abajo span{
    font-weight: 600;
}


.numero {
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 1px #fff solid;
    margin-top: 10px;
}

.ventana {
    display: flex;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 5px 10px;
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow:  10px 10px 10px #cecece1a,
    -10px -10px 10px #f2f2f211;
    cursor: pointer;
}

.ventana__none{
    display: none;
}

.ventana p{
    margin-left: 10px;
    font-size: 15px;
    color: black;
}

.numero svg {
    height: 30px;
    margin-left: 5px;
}

.seleccion {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bandera {
    height: 40px;
}

.telefono {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 15px;
    width: 100%;
    max-width: 405px;
    padding: 15px 50px;
    outline: none;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
}

.question{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px #fff solid;
    margin-left: 20px;
}

.opcion{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 15px;
    width: 100%;
    max-width: 405px;
    padding: 15px 50px;
    margin-top: 10px;
    outline: none;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
}

.text h3{
    text-align: center;
}


.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}


.cinta__up img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    max-width: 400px;
}

.cinta__down img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    max-width: 400px;
}

h3 {
    font-size: 20px;
}