*{
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'poppins', sans-serif
}
html{
font-size: 62.5%;
color: rgb(255, 255, 255);
}

body{
    background-image: url("https://res.cloudinary.com/msolutionstech/image/upload/v1626916410/501744-simple-black-wallpaper-top-free-simple-black-background_uaomb2.jpg");
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    padding: 20px;
    display:flex;
    height: 100vh;
    width: 100%;
    max-width: 1080px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:auto;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img {
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: grid;
    grid-template-columns:  1fr 1fr;
}

.title h1{
    font-size: 40px;
    text-align: center;
    line-height: 25px;
    margin-top: 20px;
    font-weight: 500;
}

.title h2{
    font-size: 20px;
    margin-top: 20px;

}

.info{
    margin-top: 20px;
}

.info img {
    width: 100%;
    max-width: 490px
}

