<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>M SOLUTIONS TECH</title>
</head>

<body>
    <div class="cinta__up">
        <img src="https://res.cloudinary.com/msolutionstech/image/upload/v1626925553/CINTAS-01_ewewhp.png" alt="Alerta">
    </div>
    <div class="cinta__down">
        <img src="https://res.cloudinary.com/msolutionstech/image/upload/v1626925553/CINTAS-02_sgjfeu.png" alt="">
    </div>


    <main>


        <div id="app" >

            <div class="portada">
                <div class="portada__img">
                    <img src="https://res.cloudinary.com/msolutionstech/image/upload/v1626928988/alerta-01_gyvrth.svg" alt="">
                </div>
                <div class="portada__title">
                    <div class="logo">
                        <img src="https://res.cloudinary.com/msolutionstech/image/upload/v1626917763/LOGO_BLANCO-02_pori1c.png"
                            alt="Logo">
                    </div>
                    <h1>ESTAMOS EN REMODELACIÓN</h1>
                    <h2>Pero volveremos más fuertes
                        <span v-show =></span>
                        <span v-show="opcion === 'Diseño gráfico' ">🔥</span>
                        <span  v-show= "opcion === 'Desarrollo Web' ">😎</span>
                        <span v-show= "opcion === 'Más opciones' ">🌈</span>
                    </h2>
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h1>Déjanos saber tu inquietud</h1>
                    <h2>Nos encanta Saludarte <span>{{nombre}}</span></h2>
                    <input v-model="nombre" placeholder="Ingresa tu nombre" class="nombre">
                    <select v-model="opcion">
                        <option disabled value="">Selecciona tu interes</option>
                        <option>Diseño gráfico</option>
                        <option>Desarrollo Web</option>
                        <option>Más opciones</option>
                    </select>
                </div>
            </div>
            <svg src="https://res.cloudinary.com/msolutionstech/image/upload/v1626928006/whatsapp-glyph-black_ubl1zf.svg"></svg>
            
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./app.js"></script>
</body>

</html>