<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://res.cloudinary.com/msolutionstech/image/upload/v1626962803/favicon_nyg24y.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <title>M SOLUTIONS TECH</title>
</head>

<body>
     <div class="cinta__up">
        <img src="https://res.cloudinary.com/msolutionstech/image/upload/v1626925553/CINTAS-01_ewewhp.png" alt="Alerta">
    </div>
    <div class="cinta__down">
        <img src="https://res.cloudinary.com/msolutionstech/image/upload/v1626925553/CINTAS-02_sgjfeu.png" alt="">
    </div> 


    <main>
        <div id="app" >

            <div class="portada">
                <div class="portada__img">
                    <img src="https://res.cloudinary.com/msolutionstech/image/upload/v1626928988/alerta-01_gyvrth.svg" alt="">
                </div>
                <div class="portada__title">
                    <div class="logo">
                        <img src="https://res.cloudinary.com/msolutionstech/image/upload/v1626917763/LOGO_BLANCO-02_pori1c.png"
                            alt="Logo">
                    </div>
                    <h1>ESTAMOS EN REMODELACIÓN</h1>
                    <h2>Pero volveremos más fuertes 🦾✌👊</h2>
                    <input v-model="nombre" placeholder="Ingresa tu nombre" class="nombre">
                </div>
            </div>
            <h1 class="titulo__abajo">Bienvendo a esta súper familia <span>{{nombre}}</span></h1>
            <div class="info">
                <div class="text">
                    <h3>Escribe tu número</h3>
                    <div class="numero">
                        <div>
                            <div class="seleccion" v-on:click="toggleVentana">
                                <img :src="cualBandera[cambiar__bandera]" alt="Colombia" class="bandera">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                            </div>
                            <div :class="ventana" v-on:click="cambiar__pais">
                                <img :src="cualBandera[cambiar__bandera2]" alt="Colombia" class="bandera">
                                <p>{{pais[cambiar__bandera]}}</p>
                            </div>
                        </div>
                        <input type="number" v-model="numero" placeholder="Número de contácto" class="telefono">
                    </div>
                </div>
                
                <div class="question">
                    <h3>Escribe tu inquietud</h3>
                    <input  v-model="opcion" placeholder="Quiero saber sobre..." class="opcion">
                </div>
            </div>
            <a :href="link" target="_blank" class="mensaje">
                <div class="mensaje__img">
                    <img src="https://res.cloudinary.com/msolutionstech/image/upload/v1626928612/whatsapp-glyph-black_zlkes9.svg" alt="Enviar mensaje">
                </div>
                <p>Envía tu mensaje</p>
            </a>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./app.js"></script>
</body>

</html>